<!DOCTYPE html>
<html>
<head>
    <title>PyTutor Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="home-container">

    <div class="home-card">

        <h1>PyTutor Assistant</h1>

        <p>
            Learn Python easily with a beginner friendly chatbot.
        </p>

        <img
            src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png"
            width="150"
        >

        <div class="home-buttons">

            <a href="/login">
                <button>Login</button>
            </a>

            <a href="/register">
                <button>Register</button>
            </a>

        </div>

    </div>

</div>

</body>
</html>
