<!DOCTYPE html>
<html>
<head>
    <title>PyTutor Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="">
        <h1 class="head">PyTutor Assistant</h1>
        <p class="para">Learn python easily with a beginner friendly chatbox</p>
        <img src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png" width="150">
        <div class="home-buttons">
            <a href ="/login">
                <button>login</button>
            </a>
            
             <a href ="/register">
                <button>Register</button>
            </a>

        </div>
    </div>
</body>
</html>
